@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url(/landingpage/static/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  color: #212121;
  background-color: #03a9f4;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

a {
  color: #03a9f4;
}

h1 {
  margin: 20px 0 0;
}

.content {
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 12px;
  max-width: 432px;
  margin: 64px auto 0;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, .12);
}

.header {
  text-align: center;
  font-size: 1.96em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}

.loading {
  text-align: center;
}
.loading img {
  max-width: 100px;
}

.read-more {
  margin: 40px auto 16px;
  max-width: 400px;
  text-align: center;
}
.suggestion {
  margin: 24px 0;
}
.app-links {
  margin-top: 8px;
}
.spinner {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  margin: 20px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #03a9f4;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

pre {
  display: block;
  margin: auto;
  max-width: 450px;
  padding-bottom: 8px;
  text-align: left;
  white-space: pre-line;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color: #e1e1e1;
  }

  .content {
    background-color: #1c1c1c;
    border-color:rgba(225, 225, 225, 0.12);
  }
}

@media (max-width: 450px) {
  .content {
    min-height: 100%;
    margin: 0;
  }
}
