@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url(/landingpage/static/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  color: #212121;
  background-color: #03a9f4;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.content {
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 12px;
  max-width: 432px;
  margin: 64px auto 0;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.loading {
  text-align: center;
}
.header {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.header img {
  width: 48px;
  height: 48px;
}

.read-more {
  margin: 16px auto;
  max-width: 400px;
  text-align: center;
}
.badges {
  display: flex;
  gap: 16px;
  height: 56px;
  margin-bottom: 8px;
  justify-content: center;
}
.badges a {
  display: contents;
}
.badges img {
  min-width: 0;
}
.suggestion {
  height: 56px;
  padding: 8px 24px 8px 16px;
  color: currentColor;
  text-decoration: none;
  transition: background-color 150ms;
  display: flex;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
}
.suggestion:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.suggestion:focus-visible {
  background-color: rgba(0, 0, 0, 0.08);
}
.suggestion:active {
  background-color: rgba(0, 0, 0, 0.12);
}
.suggestion svg {
  flex-shrink: 0;
}

.spinner {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  margin: 20px auto;
}
.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #03a9f4;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  animation: sk-bounce 2s infinite ease-in-out;
}
.double-bounce2 {
  animation-delay: -1s;
}
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

pre {
  display: block;
  margin: auto;
  max-width: 450px;
  padding-bottom: 8px;
  text-align: left;
  white-space: pre-line;
}
pre:empty {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color: #e1e1e1;
  }

  .content {
    background-color: #1c1c1c;
    border-color: rgba(225, 225, 225, 0.12);
  }

  .suggestion:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .suggestion:focus-visible {
    background-color: rgba(255, 255, 255, 0.08);
  }
  .suggestion:active {
    background-color: rgba(255, 255, 255, 0.12);
  }
}

@media (max-width: 450px) {
  .content {
    min-height: 100%;
    margin: 0;
  }
}
