name: Build landingpage

on:
  pull_request:
    branches: ["main"]
  release:
    types: ["published"]

jobs:
  build:
    name: Build landingpage
    runs-on: ubuntu-latest
    strategy:
      matrix:
        machine:
          - generic-x86-64
          - intel-nuc
          - khadas-vim3
          - odroid-c2
          - odroid-c4
          - odroid-n2
          - odroid-xu
          - qemuarm
          - qemuarm-64
          - qemux86
          - qemux86-64
          - raspberrypi
          - raspberrypi2
          - raspberrypi3
          - raspberrypi3-64
          - raspberrypi4
          - raspberrypi4-64
          - tinker
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v3

    - name: Login to DockerHub
      if: github.event_name == 'release'
      uses: docker/login-action@v1.14.1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Login to GitHub Container Registry
      if: github.event_name == 'release'
      uses: docker/login-action@v1.14.1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set build arguments
      if: github.event_name != 'release'
      run: echo "BUILD_ARGS=--test" >> $GITHUB_ENV

    - name: Build landingpage
      uses: home-assistant/builder@2022.03.0
      with:
        args: |
          $BUILD_ARGS \
          --target /data \
          --no-latest \
          --machine landingpage=${{ matrix.machine }}
      env:
        CAS_API_KEY: ${{ secrets.CAS_TOKEN }}
