name: Build landingpage

on:
  pull_request:
    branches: ["main"]
  release:
    types: ["published"]

jobs:
  build:
    name: Build landingpage
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v2

    - name: Login to DockerHub
      if: github.event_name == 'release'
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set build arguments
      if: github.event_name != 'release'
      run: echo "BUILD_ARGS=--test" >> $GITHUB_ENV

    - name: Build landingpage
      uses: home-assistant/builder@2020.11.0
      with:
        args: |
          $BUILD_ARGS \
          --target /data \
          --homeassistant-landingpage ALL \
          --docker-hub homeassistant
